@*<div class="sidebar-right">
    <div class="slimscroll-right">
        <div class="sidebar-right-title">
            News Feed
        </div>
        <div class="sidebar-right-body">
            <ul class="list-group list-group-flush news-feed">
                <li class="list-group-item">
                    <span class="badge badge-pill bg-danger float-right">-1.23</span>
                    <span class="badge badge-pill bg-warning float-right">obj</span>
                    <a href="#">Title</a>
                    <p>@DateTime.UtcNow</p>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-pill bg-danger float-right">-1.23</span>
                    <span class="badge badge-pill bg-warning float-right">obj</span>
                    <a href="#">Title</a>
                    <p>@DateTime.UtcNow</p>
                </li>
            </ul>
        </div>
    </div>
</div>*@

<div class="card">
    <div class="card-header position-absolute">
        <h4 class="card-title">Latest News</h4>
        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="media-list">
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
            <a href="#" class="media active">
                <div class="media-left">
                    <span class="media-object rounded-circle"><i class="fa fa-arrow-circle-o-up"></i></span>
                </div>
                <div class="media-body">
                    <h5 class="list-group-item-heading">Article Title..</h5>
                    <h6 class="list-group-item-txt">@DateTime.UtcNow</h6>
                    <p class="list-group-item-text"><span class="badge badge-primary mr-1">Source</span></p>
                </div>
                <div class="media-right">
                    <span class="badge badge-pill bg-danger float-right">0.0</span>
                    <span class="badge badge-pill bg-warning float-right">0.0</span>
                    <span class="badge badge-pill bg-success float-right">0.0</span>
                    <span class="badge badge-pill bg-compound float-right">0.0</span>
                </div>
            </a>
        </div>
    </div>
</div>